* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3477db, #2c3e50);
}
.heading {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
/* styling the container */
.quote-container {
  width: 640px;
  background-color: rgba(247, 244, 244, 0.5);
  padding: 2rem 2.5rem;
  border: 3px solid #131212;
  border-bottom-left-radius: 17px 180px;
  border-bottom-right-radius: 110px 12px;
  border-top-left-radius: 200px 12px;
  border-top-right-radius: 12px 210px;
}
#quote-box {
  margin-bottom: 3rem;
}
#author {
  text-align: right;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0.8rem;
}
.feature-buttons {
  display: flex;
  justify-content: space-evenly;
}
/* styling the buttons */
.buttons {
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #4c6570 51%,
    #314755 100%
  );
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-size: 0.8em;
  cursor: pointer;
}
.buttons:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* implementing media queries to make the website device responsive */
@media only screen and (max-width: 600px) {
  .heading {
    text-align: center;
  }
  .quote-container {
    width: 90%;
    margin: 0 auto;
  }
  #author {
    margin-top: 2rem;
  }
  .feature-buttons {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
